<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TccFrontMobileUsuario"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".operario.OperarioRedirecionar"
            android:exported="false" />
        <activity
            android:name=".operario.OperarioAtualizarStatus"
            android:exported="false" />
        <activity
            android:name=".usuario.SobreAppLogadoUsuario"
            android:exported="false" />
        <activity
            android:name=".operario.ManterOrdemDeServico"
            android:exported="false" />
        <activity
            android:name=".operario.DetalhesOrdemServicoAberta"
            android:exported="false" />
        <activity
            android:name=".operario.CadastroOperario"
            android:exported="false" />
        <activity
            android:name=".operario.HomepageOperario"
            android:exported="false" />
        <activity
            android:name=".usuario.EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".usuario.NovoChamado"
            android:exported="false" />
        <activity
            android:name=".ui.login.NovoChamado"
            android:exported="false"
            android:label="@string/title_activity_novo_chamado" />
        <activity
            android:name=".usuario.SobreApp"
            android:exported="false" />
        <activity
            android:name=".usuario.Cadastro"
            android:exported="false" />
        <activity
            android:name=".usuario.DetalhesChamadoAberto"
            android:exported="false" />
        <activity
            android:name=".usuario.DetalhesChamadoEmAndamento"
            android:exported="false" />
        <activity
            android:name=".usuario.HomepageUsuario"
            android:exported="false" />
        <activity
            android:name=".usuario.PrimeiroAcesso"
            android:exported="false" />
        <activity
            android:name=".usuario.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".usuario.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>