<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TccFrontMobileUsuario"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ManterOrdemDeServico"
            android:exported="false" />
        <activity
            android:name=".DetalhesOrdemServicoAberta"
            android:exported="false" />
        <activity
            android:name=".CadastroOperario"
            android:exported="false" />
        <activity
            android:name=".HomepageOperario"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".NovoChamado"
            android:exported="false" />
        <activity
            android:name=".ui.login.NovoChamado"
            android:exported="false"
            android:label="@string/title_activity_novo_chamado" />
        <activity
            android:name=".SobreApp"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".DetalhesChamadoAberto"
            android:exported="false" />
        <activity
            android:name=".DetalhesChamadoEmAndamento"
            android:exported="false" />
        <activity
            android:name=".HomepageUsuario"
            android:exported="false" />
        <activity
            android:name=".PrimeiroAcesso"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>